html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	background-color: #fff;
	font-family: Lucida Console, Courier, monospace;
	width: 70%;
	margin: 2em;
}

footer {
	margin-top: 10em;
	color: gray;
}

